$accent_width: 2px;
$accent_color: linear-gradient(
  90deg,
  rgb(202, 0, 0) 0%,
  rgb(26, 158, 0) 50%,
  rgb(0, 77, 179) 100%
);
$component_color: rgb(240, 240, 240);
$box_shadow_color: rgb(161, 161, 161);
$card_padding_x: 24px;
$card_padding_y: 50px;
