$main_app_width: 1600px;
$header_height: 84px;

$accent_width: 2px;

$accent_color_1: rgb(202, 0, 0);
$accent_color_2: rgb(26, 158, 0);
$accent_color_3: rgb(0, 77, 179);

$accent_color: linear-gradient(
  90deg,
  $accent_color_1 0%,
  $accent_color_2 50%,
  $accent_color_3 100%
);
$component_color: rgb(240, 240, 240);
$box_shadow_color: rgb(161, 161, 161);
$card_padding_x: 24px;
$card_padding_y: 50px;
