@use "variables" as *;

.artworkItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 400px;
  &-info {
    height: 30%;
    text-align: center;
  }

  &-title {
    font-weight: bold;
  }

  &-classification {
    font-style: italic;
  }
  &-artist,
  &-title,
  &-classification {
    display: block;
  }

  &-thumbnail {
    height: 70%;
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }

  &-fav {
    position: absolute;
    top: -$accent_width * 3;
    right: $card_padding_x;
    z-index: 1;
  }
}
